<div id="contact-us">
	<footer class="footer" style="background-color: #000000;">
	    <div class="container-fluid py-4">
	    	<a class="footer-img zoom" href="/humanEd/"><img src="site_assets/images/main-logos/humaned.png" alt="" width="70"></a>
	    	<a class="footer-img zoom" href="https://www.ed.ac.uk/"><img src="site_assets/images/main-logos/uoe.png" alt="" width="70"></a>
	    	<br>
	    	<br>
	    	<h5><a href="https://www.eusa.ed.ac.uk/activities/view/humaned">HumanEd - Humanoid Robotics Society</a></h5>
	    	
	    	<p>The Humanoid Robotics Society is an interdisciplinary group of students focused<br>
	    	on the long-term research, development and implementation of new technologies in the<br>
	    	field of limbs, exoskeletons, humanoid robots and bipedal movement.</p>
	    	
	    	<p>SVG Background provided by <a target="_blank" href="https://heropatterns.com/">Hero Patterns</a> </p>
		    <a href="https://www.eusa.ed.ac.uk/activities/view/humaned" class="	fa fa-graduation-cap fa-2x" target="_blank"></a>
		   	<a href="https://www.instagram.com/humanedinburgh/" class="fa fa-instagram fa-2x" target="_blank"></a>
			<a href="https://www.facebook.com/UoEHumanEd" class="fa fa-facebook fa-2x" target="_blank"></a>
			<a href="https://www.linkedin.com/company/humaned/" class="fa fa-linkedin fa-2x" target="_blank"></a>
			<a href="https://github.com/HumanED" class="fa fa-github fa-2x" target="_blank"></a>
			<a href="mailto: uoe.humaned@gmail.com" class="fa fa-envelope fa-2x" target="_blank"></a>
	    </div>
	</footer>
</div>