@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* General Styles */

html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-size: cover;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1055%26quot%3b)' fill='none'%3e%3cpath d='M186 441L-84 711' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1057 410L650 817' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M866 0L1080 -214' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M159 322L-198 679' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M754 358L459 653' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1211 100L1050 261' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M578 188L283 483' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M707 368L378 697' stroke-width='10' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1395 538L1216 717' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M297 13L147 163' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1230 437L1633 34' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M984 159L1311 -168' stroke-width='10' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M346 478L549 275' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M716 280L899 97' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M282 187L70 399' stroke-width='6' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1112 119L748 483' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1345 79L1118 306' stroke-width='10' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1299 316L1138 477' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M192 539L484 247' stroke-width='6' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M390 326L-19 735' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M643 505L331 817' stroke-width='6' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1002 556L811 747' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1085 166L695 556' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M534 393L138 789' stroke-width='10' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M173 458L-136 767' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M729 319L436 612' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M104 252L326 30' stroke-width='6' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M575 546L214 907' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1368 126L1552 -58' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M212 8L559 -339' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M983 437L843 577' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M982 481L1155 308' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1340 491L1723 108' stroke-width='8' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M943 204L669 478' stroke-width='8' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M444 215L115 544' stroke-width='10' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M815 36L578 273' stroke-width='6' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M286 298L481 103' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1371 116L1575 -88' stroke-width='6' stroke='url(%23SvgjsLinearGradient1056)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M858 24L515 367' stroke-width='6' stroke='url(%23SvgjsLinearGradient1057)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1055'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1056'%3e%3cstop stop-color='rgba(1%2c 183%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 183%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1057'%3e%3cstop stop-color='rgba(1%2c 183%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 183%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.navbar a {
	font-size: 15px;
}

#transition{
	position: relative;
	padding: 6px 0;
}

.nav-item{
	padding: 10px;
}

#transition:before{
	content:  '';
	position:  absolute;
	bottom: 0;
	left: 0;
	height:  3px;
	width:  0%;
	background: #01B7FF;
	transition: all 0.4s ease;
}

#transition:hover:before{
	width: 100%;
}

.center #transition:before{
	left:  50%;
	transform: translateX(-50%);
}

.zoom img{
	transition: transform 0.6s ease;
}

.zoom:hover img{
	transform:  scale(1.10);
}

.line{
	height: 1px;
	width: 100%;
	background: grey;
}

.footer-img{
	padding: 20px;
}

.footer{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
}

.footer a{
	color: white;
	text-decoration: none;
}

.footer a:hover{
	color: #01B7FF;
	text-decoration: none;
}

.fa {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
