@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar a {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

#transition{
	position: relative;
	padding: 6px 0;
}

.nav-item{
	padding: 10px;
}

#transition:before{
	content:  '';
	position:  absolute;
	bottom: 0;
	left: 0;
	height:  3px;
	width:  0%;
	background: #01B7FF;
	transition: all 0.4s ease;
}

#transition:hover:before{
	width: 100%;
}

.center #transition:before{
	left:  50%;
	transform: translateX(-50%);
}

.zoom img{
	transition: transform 0.6s ease;
}

.zoom:hover img{
	transform:  scale(1.10);
}

.line{
	height: 1px;
	width: 100%;
	background: grey;
}

.footer-img{
	padding: 50px;
}

.footer{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
}

.footer a{
	color: white;
	text-decoration: none;
}

.footer a:hover{
	color: #01B7FF;
	text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}